body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-left: 28px;
  overflow:hidden;
}

#first{
  width: 100%;
  height: 1px;
}

* {
  margin: 0;
  padding: 0;
}

#intro{
  background-color: black;
  color: azure;
  font-size: 20px;
  font-family: "Bruno Ace SC", cursive;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: intro 2.5s;
}

@keyframes intro {
  from{
    bottom: 100vh;
  }

  to{
    bottom: 0vh;
  }
}

.landing {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: start;
  gap: 10px;
  width: 90%;
  height: fit-content;
  padding: 5%;
  gap: 20px;
  border-radius: 10px;
}

.text {
  font-size: 2.5rem;
  color: azure;
  font-family: "Bruno Ace SC", cursive;
  margin-top: 70px;
}



.text p {
  font-size: 1.7rem;
  color: azure;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 100px;
}



.about {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  color: azure;
  font-size: 1.2rem;
  background-color: #212121;
  margin-bottom: 50px;
  border: white solid 1px;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  
}

.about p {
  font-weight: 100;
  margin-top: 30px;
  text-transform: lowercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.about h3 {
  font-family: sans-serif;
  background: lavender;
  text-transform: lowercase;
  width: fit-content;
  color: #212121;
  padding: 20px;
  border-radius: 30px;
}

.about h2{
  font-family: sans-serif;
  padding: 20px;
  font-size:1.3rem ;
  background: rgb(61, 61, 62);
  border-radius: 30px;

}
.projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  height: auto;
  font-family: "Bruno Ace SC", cursive;
  color: azure;
  font-size: 1.3rem;
  padding: 40px;
  margin-bottom: 100px;
}
.h2 {
  width: 90%;
  font-family: "Bruno Ace SC", cursive;
  color: azure;
  font-size: 1.3rem;
  border-top: white solid 1px;
}

.container {
  background-color: #212121;
  width: 400px;
  height: 185px;
  border: white solid 1px;
  border-radius: 12px;
  opacity: 1;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  margin-bottom: 100px;
  width: 80%;
}

.aboutc h3 {
  font-family: sans-serif;
  background: lavender;
  text-transform: lowercase;
  width: fit-content;
  color: #212121;
  padding: 10px;
  border-radius: 30px;
}

.aboutc p {
  font-weight: 100;
  margin-top: 10px;
  text-transform: lowercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.aboutc{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.about img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 12px;
}

.cont{
  max-width: 400px;
  max-height: 300px;
}

.p1{
  max-width: 450px;
  max-height: 350px;
  font-family: "Nunito", sans-serif;
  justify-content: center;
}



@media (max-width: 598px) {

  
  .text {
    font-size: 1em;
    color: azure;
    font-family: "Bruno Ace SC", cursive;
    margin-top: 200px;
    margin-bottom: 50px;
  }

  .text h1{
    margin-bottom: 20px;
  }

  .text p {
    font-size: 1.5em;
    color: azure;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 100px;
  }
  .nav {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 90px;
    width: 80%;
  }

  .container {
    background-color: #212121;
    width: 400px;
    height: 185px;
    border: white solid 1px;
    border-radius: 12px;
    opacity: 1;
  }
  
  .container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 12px;
  }

  .aboutc{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
  }

}